@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lato:300,400&display=swap');
* {
    box-sizing: border-box;
}

header {
    width: 100%;
    overflow: hidden;
}

.col-1 {
    padding-top: 1%;
    width: 28%;
    float: left;
    display: inline-block;
}

.col-4 {
    width: 69%;
    float: left;
    display: inline-block;
}

.col-2 {
    width: 43.3%;
    float: left;
    display: inline-block;
}

.col-3 {
    width: 30%;
    display: inline-block;
    float: left;
}

.col-2 ul {
    margin: 0%;
}

.user--information:hover {
    background-color: #f0f2f5;
    cursor: pointer;
}

.logo-web {
    margin-left: 18%;
    margin-top: 5%;
    width: 11%;
    display: inline-block;
    float: left;
}

.logo-web img {
    width: 100%;
}

.active {
    color: #1877f2;
    border-bottom: 3px solid #1877f2;
    font-weight: 700;
}

.user--information {
    width: 29%;
    float: left;
    display: inline-block;
    border-radius: 35px;
}

a#button_close {
    cursor: pointer;
}

.user--avatar {
    display: inline-block;
    float: left;
    width: 30%;
}

.user--information p {
    padding-top: 13%;
    display: inline-block;
    float: left;
    padding-left: 5%;
}

.search-web {
    display: inline-block;
    float: left;
    width: 43%;
    margin-top: 6%;
    margin-left: 2%;
    margin-bottom: 2%;
    border-radius: 16px;
    background: #f0f2f5;
    padding: 2%;
}

.il {
    margin-left: 3%;
    width: 30px;
    height: 30px;
    background: #f0f2f5;
    display: inline-block;
    box-sizing: border-box;
    padding-top: 5px;
    padding-left: 6px;
    border-radius: 50%;
}

.message.il {
    margin-top: 2%;
}

header {
    position: relative;
    border-bottom: 1px solid #eceef1;
}

header .col-2 li {
    cursor: pointer;
    list-style: none;
    display: inline-block;
    padding: 5% 8%;
    font-size: 14px;
}

.search-web input[type="text"] {
    display: inline-block;
    float: left;
}

.search-web i.fas.fa-search {
    display: inline-block;
    float: left;
}

.data-creen {
    box-sizing: border-box;
    width: 100%;
    display: inline-block;
    float: left;
}

.head h1 a {
    text-decoration: none;
    color: white;
}

body {
    background: #EFEFBB;
    background: -webkit-linear-gradient(to right, #D4D3DD, #EFEFBB);
    background: linear-gradient(to right, #D4D3DD, #EFEFBB);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Lato';
    margin: 0;
}

h1 {
    letter-spacing: 3px;
}

.poke-container {
    display: flex;
    flex-wrap: wrap;
    align-items: space-between;
    justify-content: center;
    margin: 0 auto;
    max-width: 1200px;
}

.pokemon {
    background-color: #eee;
    border-radius: 20px;
    box-shadow: 0 3px 15px rgba(100, 100, 100, 0.5);
    margin: 10px;
    padding: 20px;
    text-align: center;
}

.pokemon .img-container {
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 50%;
    width: 120px;
    height: 120px;
    text-align: center;
}

.pokemon .img-container img {
    margin-top: 20px;
    max-width: 90%;
}

.pokemon .info {
    margin-top: 20px;
}

.pokemon .number {
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    font-size: 0.8em;
    padding: 5px 10px;
}

.pokemon .name {
    margin: 15px 0 7px;
    letter-spacing: 1px;
}


/* SOCIAL PANEL CSS */

.social-panel-container {
    position: fixed;
    right: 0;
    bottom: 80px;
    transform: translateX(100%);
    transition: transform 0.4s ease-in-out;
}

.social-panel-container.visible {
    transform: translateX(-10px);
}

.social-panel {
    background-color: #fff;
    border-radius: 16px;
    box-shadow: 0 16px 31px -17px rgba(0, 31, 97, 0.6);
    border: 5px solid #001F61;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Muli';
    position: relative;
    height: 169px;
    width: 370px;
    max-width: calc(100% - 10px);
}

.social-panel button.close-btn {
    border: 0;
    color: #97A5CE;
    cursor: pointer;
    font-size: 20px;
    position: absolute;
    top: 5px;
    right: 5px;
}

.social-panel button.close-btn:focus {
    outline: none;
}

.social-panel p {
    background-color: #001F61;
    border-radius: 0 0 10px 10px;
    color: #fff;
    font-size: 14px;
    line-height: 18px;
    padding: 2px 17px 6px;
    position: absolute;
    top: 0;
    left: 50%;
    margin: 0;
    transform: translateX(-50%);
    text-align: center;
    width: 235px;
}

.social-panel p i {
    margin: 0 5px;
}

.social-panel p a {
    color: #FF7500;
    text-decoration: none;
}

.social-panel h4 {
    margin: 20px 0;
    color: #97A5CE;
    font-family: 'Muli';
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
}

.social-panel ul {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.social-panel ul li {
    margin: 0 10px;
}

.social-panel ul li a {
    border: 1px solid #DCE1F2;
    border-radius: 50%;
    color: #001F61;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 50px;
    text-decoration: none;
}

.social-panel ul li a:hover {
    border-color: #FF6A00;
    box-shadow: 0 9px 12px -9px #FF6A00;
}

.floating-btn {
    border-radius: 26.5px;
    background-color: #001F61;
    border: 1px solid #001F61;
    box-shadow: 0 16px 22px -17px #03153B;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    line-height: 20px;
    padding: 12px 20px;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 999;
}

.floating-btn:hover {
    background-color: #ffffff;
    color: #001F61;
}

.floating-btn:focus {
    outline: none;
}

.floating-text {
    background-color: #001F61;
    border-radius: 10px 10px 0 0;
    color: #fff;
    font-family: 'Muli';
    padding: 7px 15px;
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.floating-text a {
    color: #FF7500;
    text-decoration: none;
}

@media screen and (max-width: 480px) {
    .social-panel-container.visible {
        transform: translateX(0px);
    }
    .floating-btn {
        right: 10px;
    }
}

#application .btn {
    display: block;
    width: 100%;
}

.btn-pre {
    display: inline-block;
    float: left;
}

.btn-number {
    display: inline-block;
    float: left;
}

.btn-number div {
    display: inline-block;
    float: left;
}

button#btn-pre {
    padding: 34%;
    background: #f5f5f5;
    border: none;
    color: revert;
}

.btn-number div button {
    padding: 40%;
    background: #f5f5f5;
    border: none;
}

button#btn-next {
    border: none;
    background: #f5f5f5;
    padding: 1.2% 2%;
}

div button:hover {
    background: white;
}

div button#btn-pre:hover {
    background: white;
}

div button#btn-next:hover {
    background: white;
}